@keyframes gradient {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

body {
	margin: 0;
}

html:lang(ar) {
	direction: rtl;
}

h1, h2, span {
	font-family: "PlayFair Display", "Noto Color Emoji";
}

*:lang(ar), *:lang(ar) > span, *:lang(ar) > h1, *:lang(ar) > h2 {
	font-family: "Tajawal", "Noto Color Emoji";
}

* {
	font-family: "Inter", "Noto Color Emoji";
}

img {
	user-select: none;
}


a {
	vertical-align: middle;
	text-decoration: underline;
	color: inherit;
	transition: all .5s ease;		
}

a:hover {
	filter: brightness(1.5);
}

a:visited {
	color: inherit;
}

.link::after {
	content: " \1F865";
}

.link:lang(ar):after {
	content: " \1F864";
}

button {
	cursor: pointer;
	transition: all .5s ease;
}

.ico {
	vertical-align: middle;
}

.ico {
	padding-inline: 0 .2rem;
}

.ico:lang(ar) {
	padding-inline: .2rem 0;
}
